@use "sass:color";
@use "colors" as *;

.content__left {
    margin-top: 1rem;
    .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;

        a {
            background: $bg-gray2;
            padding: 3px 8px;
            border-radius: 10px;
            color: var(--fg-light);
            text-decoration: none;

            &:hover {
                background-color: color.scale($red, $lightness: -20%);
                color: #fff;
            }
        }
    }
}

.content__left dl {
    display: grid;
    grid-template-columns: 120px 1fr;
    margin-top: 2rem;

    gap: 1em;
    dt {
        grid-column: 1/2;
        color: $fg-gray;
    }
    dd {
        grid-column: 2/3;
        > a {
            color: $red;
            margin-inline: 3px;
            font-weight: 500;
            text-decoration: none;
        }
        > a:hover {
            color: $blue;
        }
    }
}
