@use "sass:math";
@use "sass:color";
@use "colors" as *;

@forward "avatar";
@forward "content";

ul[class],
ul[id] {
    list-style: none;
}
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
html {
    font-family: Circe, sans-serif, system-ui;
}

.centered {
    width: 300;
    margin-inline: auto;
}

/* ---------------------------------------- */
.content__right {
    margin-inline: 1rem;
    > * {
        max-width: 540px;
        border-radius: 10px;
        margin-top: 1rem;
    }

    > * + * {
        text-align: center;
        background-color: $bg-gray3;
        padding: 1rem;
    }

    .rating {
        display: flex;
        font-size: 22px;
        gap: 20px;
        > * {
            flex: 1;
            background-color: $bg-gray3;
            min-width: 120px;
            padding: 1rem;
            border-radius: 10px;
        }
    }

    ul#timer {
        justify-content: center;
        display: flex;
        gap: 10px;

        h2 {
            font-weight: 500;
            font-size: 42px;
            margin: 10px 0;
        }
        span {
            color: $fg-gray2;
        }
    }
}
.release-date {
    font-size: 24px;
    span:first-of-type {
        color: $red;
        text-shadow: 0 0 1px;
    }
}
.flex-wrapper {
    display: flex;
    .content-wrapper {
        flex: 1;
        .content {
            flex-wrap: wrap;
            display: flex;
            .content__right {
                flex: 1;
            }
        }
    }
}
/* ---------------------------------------- */
.flex-wrapper,
.content {
    display: flex;
}

.content-wrapper {
    margin-left: 2rem;
    > h2 {
        margin: 5px 0;
        font-weight: 500;
        text-transform: uppercase;
    }
    .author {
        margin-left: 1rem;
        font-weight: 100;
        text-transform: uppercase;
        color: gray;

        &__dropdown {
            content: "";
            display: inline-block;
            margin-left: 0.8rem;
            vertical-align: middle;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 13px solid $red;
            font-size: 20px;
        }
        &__dropdown:hover {
            border-top: 13px solid color.scale($red, $saturation: 80%);
            cursor: pointer;
        }
    }
}
