@use "sass:math";
@use "sass:color";
@use "colors" as *;

@forward "avatar";
@forward "content";

ul[class] {
    list-style: none;
    margin: 0;
    padding: 0;
}

html {
    font-family: Circe, sans-serif, system-ui;
}

/* ---------------------------------------- */
.content__right {
    .rating {
        display: flex;
        gap: 20px;
        > * {
            flex: 1;
            background-color: $bg-gray2;
            min-width: 120px;
            padding: 1rem;
            border-radius: 10px;
        }
        &__world {
        }
        &__current {
        }
    }
}

.flex-wrapper {
    display: flex;
    .content-wrapper {
        flex: 1;
        .content {
            flex-wrap: wrap;
            display: flex;
            .content__right {
                flex: 1;
            }
        }
    }
}
/* ---------------------------------------- */
.flex-wrapper,
.content {
    display: flex;
}

.content-wrapper {
    margin-left: 2rem;
    > h2 {
        margin: 5px 0;
        font-weight: 500;
        text-transform: uppercase;
    }
    .author {
        margin-left: 1rem;
        font-weight: 100;
        text-transform: uppercase;
        color: gray;

        &__dropdown {
            content: "";
            display: inline-block;
            margin-left: 0.8rem;
            vertical-align: middle;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 13px solid $red;
            font-size: 20px;
        }
        &__dropdown:hover {
            border-top: 13px solid color.scale($red, $saturation: 80%);
            cursor: pointer;
        }
    }
}
