<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/dist/style.css">
    <script defer src="/dist/script.js"></script>
    <title>{{.Title}}</title>
  </head>
  <body>
    {{range .Tags}}
    <div>
      <span style="background:red;">{{.Content}}</span>
      <span style="background:blue;">{{.Href}}</span>
    </div>
    {{else}}
    <div><strong>no rows</strong></div>
    {{end}}
  </body>
</html>